* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
body {
  background-color: #eee;
}
ul,
li {
  padding: 0;
}

/***** CONFIGURAÇÕES GLOBAIS *****/
.text-primary {
  color: #90a955 !important;
}
.zindexText {
  z-index: 5;
}
.row {
  --bs-gutter-x: 0 !important;
}

/***** NAV BAR *****/
.imgLogo {
  height: 50px;
  width: 70px;
}
.folhaLogo {
  transform: rotate(-15deg);
  margin-left: -10px;
}
#linksAncor li:nth-child(2),
#linksAncor li:nth-child(3) {
  border-left: 1px solid #90a955;
}
#linksAncor {
  list-style-type: none;
  color: #90a955;
  display: flex;
  flex-direction: row;
}
#linksAncor a {
  text-decoration: none;
  font-size: 1.3em;
  color: #90a955;
  padding: 0 10px 5px 10px;
  display: block;
  border-bottom: 1px solid transparent;
}
#linksAncor a:hover {
  border-bottom: 1px solid #31572c;
  color: #31572c;
  padding-bottom: 5px;
}
header {
  border-bottom: 1px solid #999;
}

/***** MENU MOBILE *****/
#btnMobile {
  display: none;
}

@media (max-width: 768px) {
  #btnMobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    gap: 1rem;
    background: none;
    align-items: center;
    border: 1px solid #90a955;
    outline: none;
    border-radius: 5px;
  }
  #bars {
    border-top: 2px solid;
    width: 20px;
  }
  #bars::after,
  #bars::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.5s;
    position: relative;
  }
  #btnMobile:hover {
    box-shadow: 0 0 0 5px rgba(144, 169, 85, 0.4);
  }
  #linksAncor {
    position: absolute;
    width: 100%;
    top: 75px;
    right: 0;
    background-color: #90a955ee;
    display: block;
    height: 0;
    transition: 1s;
    visibility: hidden;
    overflow-y: hidden;
  }
  #linksAncor a {
    text-decoration: none;
    font-size: 1.3em;
    color: #31572c;
    display: block;
    padding: 5px 0;
    margin: 0 1rem;
    border-bottom: 2px solid #132a1321;
  }
  #linksAncor a:hover {
    border-bottom: 2px solid transparent;
    color: #132a13;
    background-color: #31572ca1;
  }
  #linksAncor li:nth-child(2),
  #linksAncor li:nth-child(3) {
    border-left: none;
  }
  #navArea.active #linksAncor {
    height: calc(100vh - 75px);
    visibility: visible;
    overflow-y: auto;
  }
  #navArea.active #bars {
    border-top-color: transparent;
  }
  #navArea.active #bars::before {
    transform: rotate(135deg);
  }
  #navArea.active #bars::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
